<div class="login-container">
    <div class="weui-panel">
        <div class="weui-panel__hd text-center header">会员等级</div>
    </div>

    <div class="weui-panel" ng-repeat="eachLevel in mld.levels">
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>会员卡等级</p>
                </div>
                <div class="weui-cell__ft">{{eachLevel.levelName}}</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>享受折扣值</p>
                </div>
                <div class="weui-cell__ft">{{eachLevel.discount}}折</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>经验值范围</p>
                </div>
                <div class="weui-cell__ft">{{eachLevel.lowerLimit}}-{{eachLevel.upperLimit}}</div>
            </div>
            <div class="weui-cell" style="min-height: 25px">
                <div class="weui-cell__bd">
                    <p style="top: 10px; position: absolute;">等级升级奖</p>
                </div>
                <div class="weui-cell__ft">
                    <div ng-repeat="eachTicket in eachLevel.ticketNames">{{eachTicket}}</div>
                </div>
            </div>
        </div>
    </div>


    <div class="weui-panel">
        <a class="weui-btn weui-btn_danger" ng-click="mld.myExperience()">查看我的经验值</a>
    </div>
</div>
