<div class="login-container">
    <div class="weui-panel">
        <div class="weui-panel__hd text-center header weui-access-parent">
            <a class="weui-access-top" ng-click="mic.goBack()"></a>
            <span>会员信息</span>
        </div>
    </div>

    <div class="weui-panel">
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>会员姓名</p>
                </div>
                <div class="weui-cell__ft">{{mic.memberName}}</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>会员性别</p>
                </div>
                <div class="weui-cell__ft" ng-if="mic.memberGender==0">男</div>
                <div class="weui-cell__ft" ng-if="mic.memberGender==1">女</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>出生年月</p>
                </div>
                <div class="weui-cell__ft">{{mic.memberBirthday}}</div>
            </div>
        </div>
    </div>
    <div class="weui-panel">
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>会员卡号</p>
                </div>
                <div class="weui-cell__ft">{{mic.memberCardNo}}</div>
            </div>
            <a class="weui-cell weui-cell_access" ng-click="mic.goLevelDeatil()">
                <div class="weui-cell__bd">
                    <p>会员等级</p>
                </div>
                <div class="weui-cell__ft">{{mic.memberLevel}}</div>
            </a>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>办卡时间</p>
                </div>
                <div class="weui-cell__ft">{{mic.createdDate}}</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>办卡地点</p>
                </div>
                <div class="weui-cell__ft">{{mic.createdLocation}}</div>
            </div>
        </div>
    </div>
</div>
