<div class="my-container">
    <div class="page">
        <div class="page__bd" style="height: 100%;">
            <div class="weui-tab">
                <div class="weui-tab__panel">
                    <div class="weui-panel">
                        <div class="weui-cells weui-cells-no-margin-top">
                            <div class="weui-cell my-top">
                                <div class="top-bottom">
                                    <div class="top">
                                        <div>{{mc.name}}</div>
                                        <div>
                                            <span>{{mc.cardType}}</span>
                                            <span>{{mc.cardId}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="weui-flex">
                            <div class="weui-flex__item">
                                <div class="placeholder">余额</div>
                            </div>
                            <div class="weui-flex__item">
                                <div class="placeholder">积分</div>
                            </div>
                            <div class="weui-flex__item">
                                <div class="placeholder">
                                    <a ng-click="mc.goDetailPage('/discountCoupon')">
                                        <span class="discount-coupon">优惠券</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="weui-flex">
                            <div class="weui-flex__item">
                                <div class="placeholder">{{mc.balance}}</div>
                            </div>
                            <div class="weui-flex__item">
                                <div class="placeholder">{{mc.point}}</div>
                            </div>
                            <div class="weui-flex__item">
                                <div class="placeholder">{{mc.ticketsCount}}</div>
                            </div>
                        </div>
                        <div class="weui-flex">
                            <div class="barcode">
                                <img id="barcode"/>
                            </div>
                        </div>
                        <div class="weui-grids">
                            <a class="weui-grid" ng-click="mc.goDetailPage('')">
                                <div class="weui-grid__icon">
                                    <img src="./assets/images/VK/fukuanma.png">
                                </div>
                                <p class="weui-grid__label">付款码</p>
                            </a>
                            <a class="weui-grid" ng-click="mc.goDetailPage('/myRecharge')">
                                <div class="weui-grid__icon">
                                    <img src="./assets/images/VK/chongzhi.png">
                                </div>
                                <p class="weui-grid__label">微信充值</p>
                            </a>
                            <a class="weui-grid" ng-click="mc.goDetailPage('/orderManager')">
                                <div class="weui-grid__icon">
                                    <img src="./assets/images/VK/dingdan@2x.png">
                                </div>
                                <p class="weui-grid__label">订单中心</p>
                            </a>
                            <a class="weui-grid" ng-click="mc.goDetailPage('/memberInfo')">
                                <div class="weui-grid__icon">
                                    <img src="./assets/images/VK/huiyuan.png">
                                </div>
                                <p class="weui-grid__label">会员信息</p>
                            </a>
                            <a class="weui-grid" ng-click="mc.goDetailPage('/myAddressList')">
                                <div class="weui-grid__icon">
                                    <img src="./assets/images/VK/dizhi.png">
                                </div>
                                <p class="weui-grid__label">地址管理</p>
                            </a>
                            <a class="weui-grid" ng-click="mc.goDetailPage('')">
                                <div class="weui-grid__icon">
                                    <img src="./assets/images/VK/jiaoyijilu@2x.png">
                                </div>
                                <p class="weui-grid__label">交易记录</p>
                            </a>
                            <a class="weui-grid" ng-click="mc.goDetailPage('')">
                                <div class="weui-grid__icon">
                                    <img src="./assets/images/VK/zichan@2x.png">
                                </div>
                                <p class="weui-grid__label">资产转移</p>
                            </a>
                            <a class="weui-grid" ng-click="mc.goDetailPage('/myAcountSetting')">
                                <div class="weui-grid__icon">
                                    <img src="./assets/images/VK/logout.png">
                                </div>
                                <p class="weui-grid__label">切换账户</p>
                            </a>
                            <a class="weui-grid" ng-click="mc.goDetailPage('/myChangePwd')">
                                <div class="weui-grid__icon">
                                    <img src="./assets/images/VK/change-password.png">
                                </div>
                                <p class="weui-grid__label">修改密码</p>
                            </a>
                            <a class="weui-grid" ng-click="mc.goDetailPage('/myFeedback')">
                                <div class="weui-grid__icon">
                                    <img src="./assets/images/VK/fankui.png">
                                </div>
                                <p class="weui-grid__label">意见反馈</p>
                            </a>


                        </div>
                    </div>
                </div>
                <div ng-include="'app/components/tabbar/tabbar.html'"></div>
            </div>
        </div>
    </div>
</div>
