<div class="login-container">
    <div class="weui-panel">
        <div class="weui-panel__hd text-center header">会员信息</div>
    </div>

    <div class="weui-panel">
        <div class="weui-cells">
            <a class="weui-cell weui-cell_access" ng-click="masc.popUp()">
                <div class="weui-cell__bd">
                    <p>退出当前账号</p>
                </div>
                <div class="weui-cell__ft"></div>
            </a>
            <a class="weui-cell weui-cell_access" ng-click="masc.goChangePwd()">
                <div class="weui-cell__bd">
                    <p>修改密码</p>
                </div>
                <div class="weui-cell__ft"></div>
            </a>
        </div>
    </div>
</div>
