<div class="login-container">
    <div class="weui-top-bar">
        <div class="weui-cells" style="width: 100%;margin-top: 0px">
            <div class="weui-cell weui-cell_vcode header">
                <div class="left_icon">
                    <img src="../assets/images/VK/fanhui.png" width="15px" ng-click="mcpc.goBack()">
                </div>
                <div class="label" style="">修改密码</div>
                <div class="right_icon">
                    <!--<a class="weui-vcode-btn weui-btn_danger" ng-click="mrc.pay()" style="color:black">支付</a>-->
                </div>
            </div>
        </div>
    </div>

    <div class="page" style="top:54px">
        <div class="page__bd" style="height: 100%;">
            <div class="weui-tab__panel">
                <div class="weui-panel">
                    <div class="weui-panel__bd1">
                        <div class="weui-cells weui-cells_form">
                            <div class="weui-cell">
                                <div class="weui-cell__hd"><label class="weui-label">旧密码</label></div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input" type="password" ng-model="mcpc.oldPwd"
                                           placeholder="请输入旧密码"/>
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd"><label class="weui-label">新密码</label></div>
                                <div class="weui-cell__bd pwd">
                                    <input class="weui-input" type="password" ng-model="mcpc.newPwd"
                                           placeholder="请输入新密码"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="weui-panel">
                    <a class="weui-btn weui-btn_danger" ng-click="mcpc.submit()">确认</a>
                </div>
            </div>
        </div>
    </div>

</div>
