<div class="login-container">
    <div class="weui-panel">
        <div class="weui-panel__hd text-center header">重置密码</div>
    </div>
    <div class="weui-panel">
        <div class="weui-panel__bd1">
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell weui-cell_vcode">
                    <div class="weui-cell__hd"><label class="weui-label">手机号</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" pattern="[0-9]*" ng-model="fp.mobile" placeholder="请输入手机号"/>
                    </div>
                    <div class="weui-cell__ft">
                        <a class="weui-btn weui-btn_danger" ng-class="fp.vcodeCss" ng-bind="fp.vcodeTitle"
                           ng-click="fp.getVcode()">获取验证码</a>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">验证码</label></div>
                    <div class="weui-cell__bd pwd">
                        <input class="weui-input" type="password" ng-model="fp.vcode" placeholder="请输入验证码"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="weui-panel">
        <div class="weui-panel__bd1">
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">新密码</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="password" ng-model="fp.pwd" placeholder="请输入新密码"/>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">再确认</label></div>
                    <div class="weui-cell__bd pwd">
                        <input class="weui-input" type="password" ng-model="fp.rePwd" placeholder="请再次输入新密码"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="weui-panel">
        <a class="weui-btn weui-btn_danger" ng-click="fp.submit()">确认</a>
    </div>
    <!--<div class="weui-footer">-->
    <!--<span>没有账号，</span>-->
    <!--<a ng-click="lv.goRegister()">立即注册</a>-->
    <!--</div>-->
</div>
