/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

// Global styles
body {
    background-color: #f2f2f2;
}

.text-center {
    text-align: center;
}

.header {
    color: #000000;
    font-size: 18px;
}

.page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.weui-cells-no-margin-top {
    margin-top: 0;
}

//重写radio的样式
.weui-cells_radio .weui-check:checked + .weui-icon-checked:before {
    content: '\EA06';
    color: white;
}

.weui-cells_radio .weui-icon-checked:before {
    display: block;
    content: '\EA08';
    color: #614402;
    font-size: 16px;
}

.weui-tab.first {
    height: auto;
}

.weui-tab.first a {
    position: absolute;
    left: -5px;
    top: -10px;
}

.weui-tab.first a:before {
    font-size: 40px;
    color: #cccccc;
    content: "<";
    display: inline-block;
    height: 40px;
    width: 40px;
}

.weui-navbar.second {
    top: 50px;
}

.weui-navbar.first + .weui-tab__panel {
    padding-top: 50px;
}

.weui-navbar.second + .weui-tab__panel {
    padding-top: 100px;
}

//navbar
.weui-navbar__item.active {
    background-color: #f5d133;
}

// Button custom styles
.weui-btn_danger:not(.weui-btn_disabled):active {
    color: rgba(255, 255, 255, 0.6);
    background-color: #face23;
}

.weui-btn_danger {
    border-radius: 0;
    background-color: #fad534;
}

.weui-btn_danger:after {
    border-radius: 0;
}

//Login custom styles
.login-container .weui-cells {
    margin-top: 0;
}

.login-container .weui-footer {
    margin-top: 100px;
}

.login-container .weui-cell__bd.pwd {
    position: relative;
}

.login-container input[type=password] + a {
    position: absolute;
    top: 0;
    right: 0;
}

.login-container .my_greyout {
    background-color: grey !important;
}

//tabbar custom styles
.vk-tabbar .weui-tabbar__item.active {
    background-color: #f5d133;
}

.vk-tabbar .weui-tabbar__item p {
    color: #000000;
}

//my custom styles
.my-container .placeholder {
    padding: 5px 0;
    text-align: center;
}

.my-container .my-top {
    background-color: #f2f2f2;
}

.my-container .top-bottom {
    margin-top: 10px;
    position: relative;
    width: 100%;
    height: 180px;
    background: url("../assets/images/my-bg.png") 0 0 repeat-y;
    box-shadow: 0 0 12px #878484;
    border-radius: 5px;
}

.my-container .top {
    padding-left: 20px;
    position: absolute;
    bottom: 10px;
}

.my-container .top > div {
    background-color: #fef9dc;
    margin-top: 10px;
}

.my-container .top > div:first-child {
    padding-left: 10px;
    width: 100px;
}

.my-container .top > div > span:first-child {
    padding-left: 10px;
}

.my-container .top > div > span:last-child {
    padding: 0 20px 0 10px;
}

.my-container .weui-grid {
    position: relative;
    float: left;
    padding: 20px 10px;
    width: 25%;
    box-sizing: border-box;
}

.my-container .barcode {
    width: 90%;
    border: 1px solid #ece9e9;
    text-align: center;
    margin: 10px auto;
}

.my-container .barcode img {
    height: 100px;
}

.my-container .discount-coupon:after {
    content: " ";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-width: 2px 2px 0 0;
    border-color: #C8C8CD;
    border-style: solid;
    -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: relative;
    top: -2px;
}

// discount coupon custom styles
.discount-coupon-container ul.items {
    padding: 20px;
    list-style: none;
}

.discount-coupon-container ul.items li {
    margin-bottom: 20px;
}

.discount-coupon-container ul.items li .item {
    position: relative;
    background-color: #ffffff;
    padding: 10px 20px 5px 20px;
}

.discount-coupon-container ul.items li .item .title {
    padding: 0 !important;
}

.discount-coupon-container ul.items li .item .title.other {
    color: #9c9ca0;
}

.discount-coupon-container ul.items li .item .type {
    position: absolute;
    top: 25px;
    padding: 0 10px !important;
    right: 0;
    font-size: 20px;
    font-weight: bold;
    color: #face23 !important;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border: 1px solid #face23;
}

.discount-coupon-container ul.items li .item .type.used,
.discount-coupon-container ul.items li .item .type.overdue {
    color: #9c9ca0 !important;
    border-color: #9c9ca0;
}

.discount-coupon-container ul.items li .item div:not(.line) {
    padding: 5px 0;
}

.discount-coupon-container ul.items li .item div:not(.title) {
    color: #9c9ca0;
}

.discount-coupon-container ul.items li .line {
    border-top: 1px dashed #cccccc;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
