<div class="weui-tabbar vk-tabbar" ng-controller="TabbarController as t">
    <a class="weui-tabbar__item" ng-class="{'active':t.active === 'shopping'}" ng-click="t.goShopping('shopping')">
        <img src="./images/icon_tabbar.png" class="weui-tabbar__icon">
        <p class="weui-tabbar__label">商城</p>
    </a>
    <a class="weui-tabbar__item" ng-class="{'active':t.active === 'cheep'}" ng-click="t.goCheep('cheep')">
        <img src="./images/icon_tabbar.png" class="weui-tabbar__icon">
        <p class="weui-tabbar__label">优惠</p>
    </a>
    <a class="weui-tabbar__item" ng-class="{'active':t.active === 'my'}" ng-click="t.goMy('my')">
        <img src="./images/icon_tabbar.png" class="weui-tabbar__icon">
        <p class="weui-tabbar__label">我的</p>
    </a>
</div>