<div class="weui-tabbar vk-tabbar" ng-controller="TabbarController as t">
    <a class="weui-tabbar__item" ng-class="{'active':t.active === 'shopping'}" ng-click="t.goShopping('shopping')">
        <img src="./assets/images/VK/i-person.png" class="weui-tabbar__icon">
        <p class="weui-tabbar__label">商城</p>
    </a>
    <a class="weui-tabbar__item" ng-class="{'active':t.active === 'pointShop'}" ng-click="t.goCheep('pointShop')">
        <img src="./assets/images/VK/i-person.png" class="weui-tabbar__icon">
        <p class="weui-tabbar__label">积分商城</p>
    </a>
    <a class="weui-tabbar__item" ng-class="{'active':t.active === 'my'}" ng-click="t.goMy('my')">
        <img src="./assets/images/VK/i-person.png" class="weui-tabbar__icon">
        <p class="weui-tabbar__label">我的</p>
    </a>
</div>
