<div class="login-container">
    <div class="weui-panel">
        <div class="weui-panel__hd text-center header">设置密码</div>
    </div>
    <div class="weui-panel">
        <div class="weui-panel__bd1">
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">设置密码</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" ng-model="rep.pwd" placeholder="请输入新密码"/>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">再确认</label></div>
                    <div class="weui-cell__bd pwd">
                        <input class="weui-input" type="password" ng-model="rep.rePwd" placeholder="请再次输入新密码"/>
                        <!--<a ng-click="lv.forgetPwd()">忘记密码？</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="weui-panel">
        <a class="weui-btn weui-btn_danger" ng-click="rep.submit()">确认</a>
    </div>
    <!--<div class="weui-footer">-->
    <!--<span>没有账号，</span>-->
    <!--<a ng-click="lv.goRegister()">立即注册</a>-->
    <!--</div>-->
</div>
